<%- include("../includes/header.ejs", {title:"Add New resume"}); %>
<h1>Select User</h1>
<form action="/resume/add" method="get">

    <select id="account_id" name="account_id">
        <% for(var i=0; account.length > i; i++ ) {
            var selected = "";

            if(account[i].resume_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= account[i].account_id %>" <%= selected %> ><%= account[i].first_name + ', ' + account[i].last_name %></option>
        <% } %>

    </select>

    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>