<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Add New Resume</h1>
<form action="/resume/insert" method="post">

    <input type="hidden" id="account_id" name="account_id" value="<%= account_id %>">

    Name of Resume <input id="resume_name" name="resume_name" type="text" />

    Schools Attended
    <select id="school_id" name="school_id" >
        <% for(var i=0; school_name.length > i; i++ ) { %>
        <option value="<%= school_name[i].school_id %>"><%= school_name[i].school_name %></option>
        <% } %>
    </select>

    Companies Worked For
    <select id="company_id" name="company_id" >
        <% for(var i=0; company_name.length > i; i++ ) { %>
        <option value="<%= company_name[i].company_id %>"><%= company_name[i].company_name %></option>
        <% } %>
    </select>

    Skills
    <select id="skill_id" name="skill_id" >
        <% for(var i=0; skill_name.length > i; i++ ) { %>
        <option value="<%= skill_name[i].skill_id %>"><%= skill_name[i].skill_name %></option>
        <% } %>
    </select>


    <br />
    <input type="submit"/>

</form>
<%- include("../includes/footer.ejs"); %>