<%- include("./includes/header.ejs", {title: title}); %>
<html>
<head>
</head>
<body>

<div class="container">
    <nav>
        <p>Welcome to <%= title %></p>

        <li><a href="/company/all">Companies - List of companies currently in our database</a></li>
        <br />
        <li><a href="/account/all">Account - User accounts associated with this site</a></li>
        <br />
        <li><a href="/skill/all">Skill - Unique skills users may have </a></li>
        <br />
        <li><a href="/address/all">Address - List of known addresses</a></li>
        <br />
        <li><a href="/resume/all">Resume - Resumes that have been submitted</a></li>

        <br />
        <article>
        </article>

</div>
</body>
</html>
<%- include("./includes/footer.ejs"); %>
