<%- include("../includes/header.ejs", {title: "Update " + skill.skill_id}); %>

<h1>Skill Update <%= skill.skill_id%></h1>
<form action="/skill/update" method="get">
    <input type="hidden" id="skill_id" name="skill_id" value="<%= skill.skill_id %>">
    Skill Name:
    <input id="skill_name" name="skill_name" type="text" value="<%= skill.skill_name%>"/>
    <input id="description" name="description" type="text" value="<%= skill.description%>"/>
    <br />
    <input type="submit" />
</form>

<%- include("../includes/footer.ejs"); %>

</html>

<%- include("../includes/footer.ejs"); %>

</html>