<%- include("../includes/header.ejs", {title: "Update " + company.company_name}); %>

<h1>Update <%= company.company_name%></h1>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= company.company_name %> was successfully saved. %>
    </div>
</div>
<% }%>
<form action="/company/update" method="get">
    <input type="hidden" id="company_id" name="company_id" value="<%= company.company_id %>">
    Company Name: <input id="company_name" name="company_name" type="text" value="<%= company.company_name%>"/>
    <br />
    <br />

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>