<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">
    Street # and Name <input id="street" name="street" type="text" />
    Zip Code <input id="zip_code" name="zip_code" type="number" />
    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>