<%- include("../includes/header.ejs", {title: "Update " + address.address_id}); %>

<h1>Address Update <%= address.address_id%></h1>
<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        <%= company.company_name %> was successfully saved. %>
    </div>
</div>
<% }%>
<form action="/address/update" method="get">
    <input type="hidden" id="address_id" name="address_id" value="<%= address.address_id %>">
    Account Name:
    <input id="street" name="street" type="text" value="<%= address.street%>"/>
    <input id="zip_code" name="zip_code" type="number" value="<%= address.zip_code%>"/>
    <br />
    <input type="submit" />
</form>

<%- include("../includes/footer.ejs"); %>

</html>