<%- include("../includes/header.ejs", {title:"Address - " + result[0].account_name}); %>
<h1>Addresses</h1>
<ul>
    <li>Address: <%= result[0].street %> <%= result[0].zip_code %></li>
</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>